/node_modules
/dist
/.env
.DS_Store
/logs
*.log
/coverage
/.vscode
.idea/
*.iml
/build
/tmp
/.cache
/.parcel-cache
/.next
/out
/.nuxt
/.expo
/.firebase
/.serverless
/.vercel
/.turbo
/.pnp
/.pnp.js
/yarn-error.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
/.history
.vscode-test/
/.bundle
/vendor/
/.sass-cache
*.gem
/.jekyll-cache
/.jekyll-metadata
/site
/.cache/
/.parcel-cache/
